/* Small device */
@media screen and (min-width: 600px) {
    /* Banner */
    /* Center text */
    .centerBannerText {
        font-size: 2.73em;
    }
}

/* Medium device */
@media screen and (min-width: 768px) {
    /* Banner */
    /* Center text */
    .centerBannerText {
        font-size: 3.36em;
    }
}

/* Large device */
@media screen and (min-width: 992px) {
    /* Banner */
    /* Center text */
    .centerBannerText {
        font-size: 4.84em;
    }
}

/* Extra large device */
@media screen and (min-width: 1200px) {
    /* Banner */
    /* Center text */
    .centerBannerText {
        font-size: 5.9em;
    }

    /* Accordion row */
    .accordion-row {
        height: 25em;
        overflow: scroll;
    }
}