/* Styling for the container */
.displayContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 1em 10em 0 10em;
}

/* Cover CSS */

.coverContainer {
    position: relative;
    width: auto;
}

.coverImage {
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 90%;
}

.coverContainer:hover .coverImage {
    opacity: 0.3;
}

.coverContainer:hover .middle {
    opacity: 1;
}

.text {
    background-color: #04aa6d;
    color: white;
    font-size: 19px;
    padding: 16px 32px;
    text-align: center;
}

.text:hover {
    cursor: pointer;
}

.bookTitle > h4 {
    text-align: center;
}