/* Styling for the container */
.displayContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 1em 10em 0 10em;
}

/* Card CSS */
/* .displayCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 0.5rem;
    width: auto;
    text-align: center;
}

.displayCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.cardImage {
    display: flex;
    width: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.cardImage>img {
    width: 100%;
    height: auto;
} */