/* Style for the search image */
.searchImageContainer {
    color: black;
}

.searchImageContainer .bottom-right.attributionLink a {
    color: rgb(61 99 112);
}

/* formPart class */
.formPart {
    margin-top: 0.5em;
}

/* Styling for the search select */
#searchSelect {
    width: 8em;
    margin-left: 1.2em;
}

/* Styling for numOfResults */
#numOfResults{
    width: 4em;
}

/* Styling for searchParams */
#searchParams, #titleSearch, #authorSearch {
    width: 18em;
}

#searchParams, #searchSelect, #titleSearch, #authorSearch, #numOfResults {
    padding: 3px;
}

#searchParams, #authorSearch, #numOfResults {
    margin-left: 1em;
}

#titleSearch {
    margin-left: 2.47em;
}

/* Search button */
#searchBtn {
    width: 4em;
}

/* Media breaks */
/* Small screen */
@media screen and (min-width: 600px) {
    .formCol {
        margin: 0.9em 0em;
    }

    #searchParams{
        width: 15em;
    }

    #titleSearch, #authorSearch {
        width: 6em;
    }

    #authorSearchLabel, #titleSearch {
        margin-left: 1em
    }
}
/* Medium screen */
@media screen and (min-width: 768px) {
    .formCol {
        margin: 2.14em 0em;
    }

    #titleSearch, #authorSearch {
        width: 9em;
    }
}
/* large screen */
@media screen and (min-width: 992px) {
    .formCol {
        margin: 4.9em 0em;
    }

    #titleSearch, #authorSearch {
        width: 15em;
    }
}
/* extra large screen */
@media screen and (min-width: 1200px) {
    .formCol {
        margin: 7em 0em;
    }
}