/* Styling for searchResult-cards */
.searchResult-cards {
    height: 16em;
}

/* Media queries */
/* Small screens */
@media screen and (min-width: 600px) {
    .searchResult-cards {
        height: 14em;
    }
}

/* Medium screens */
@media screen and (min-width: 768px) {
    .searchResult-cards {
        height: 25em;
    }
}

/* Large screens */
@media screen and (min-width: 992px) {
    .searchResult-cards {
        height: 17em;
    }
}

/* Extra large screens */
@media screen and (min-width: 1200px) {
    .searchResult-cards {
        height: 21.4em;
    }
}