/* Styling for library-card */
.library-card {
    height: 11.6em;
}

/* Media queries */
/* Small screens */
@media screen and (min-width: 600px) {
    .library-card {
        height: 11.2em;
    }
}

/* Medium screens */
@media screen and (min-width: 768px) {
    .library-card {
        height: 20.7em;
    }
}

/* Large screens */
@media screen and (min-width: 992px) {
    .library-card {
        height: 14.6em;
    }
}

/* Extra large screens */
@media screen and (min-width: 1200px) {
    .library-card {
        height: 18.5em;
    }
}