/* Styling for the accordion buttons */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Hover styling for the buttons */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Styling for the panel */
.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    height: 0em;
    transition: 0.3s ease-out;
}

/* Styling for showPanel */
.panel.showPanel {
   height: 24em;
}