/* Styling for the accordionRow */
.accordionRow {
    height: auto;
}

/* Styling for showPanel */
.panel.showPanel {
    height: 22em;
    overflow: scroll;
 }

 /* Styling for span-link */
 .span-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
 }

 @media screen and (min-width: 1200px) {
    .accordionRow {
        height: 20em;
        overflow: scroll;
    }
 }