/* Import layout */
@import "./styles/layout.css";

/* Styling for the site */

/* Remove the margins */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Center text */
.centerText {
    text-align: center;
}