.collectorForm {
    overflow: hidden;
}

/* Styling for modal labels */
.modal-label {
    font-weight: bold;
}

/* Styling for collectorBtn */
.collectorBtn {
    width: 9em;
}

/* Styling for collectorInput */
.collectorInput {
    padding: 3px;
    width: 100%;
}

/* Styling for addtionalNotes */
#addtionalNotes {
    padding: 3px;
    width: 100%;
    height: 5em;
}